<br>
<% flash.each do |key, value| %>
 <% unless key.to_s == 'timeout' %>
  <div
  class="alert alert-warning <%= key %>">
  <a href="#" data-dismiss="alert" class="close">X</a>
  <%=value%>
  </div>

<% end %>
<%end %>